body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-top: 50px;
    margin: 0 auto;
    width: 800px;
}

form {
    background-color: #1b1b32;
    width: 100%;
    padding: 40px;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
}

label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 8px;
    color: #f3f3f3;
}

img {
    width: 100%;
}

.submit {
    width: 100%;
    padding: 12px;
    background: #37af65;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
}